@font-face {
    font-family: "vazir";
    src: url(fonts/vazir.woff);
}

* {
    padding: 0;
    margin: 0;
}

body {
    direction: rtl;
    font-family: "vazir" !important;
}

.contaienr {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .6)), url(img/1.jpg) no-repeat center;
    background-size: cover;
}

.form-box {
    width: 20rem;
    height: 27rem;
    background-color: #fff;
    border-radius: 10px;
}

.button-box {
    position: relative;
    width: 80%;
    height: 1.75rem;
    margin: 2rem auto;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgb(228 96 96 / 40%);
}

.btn {
    width: 45%;
    margin: 0 auto;
    font-family: "vazir";
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.dynamic-btn {
    position: absolute;
    background: linear-gradient(rgb(248, 93, 93), rgb(247, 60, 60));
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 20px;
}

.social-box {
    width: 60%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}

.social {
    font-size: 2rem;
    transition: all .5s ease-in-out;
}

.social:hover {
    transform: translateY(-5px);
}

.fa-instagram {
    color: #CB299A;
}

.fa-github {
    color: #171515;
}

.fa-telegram {
    color: #0088cc;
}

.loginform {
    width: 70%;
    margin: 1rem auto;
    position: relative;
    /* right: -500px;
    visibility: hidden;*/
} 

.login-input {
    font-family: "vazir" !important;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, .4);
    outline: none;
}

input#remember {
    transform: translateY(3px);
    margin-left: 2px;
    background-color: salmon;
    
}


label {
    color: salmon;
    color: rgba(0, 0, 0, .4);
    font-size: 13px;
}
.log-btn{
    width: 100%;
    margin-top: 1rem;
    padding: .6rem 0;
    font-family: "vazir";
    border-radius: 20px;
    font-size: 16px;
    border: none;
    background:linear-gradient(rgb(248, 93, 93), rgb(247, 60, 60));;

}